- hosts: big
  become: yes

  tasks:
    - name: Copy apps directory to target
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/../apps/"
        dest: "/home/{{ ansible_user }}/apps/"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: preserve
    
    - name: Run Docker Compose
      ansible.builtin.shell: |
        export OPENAI_API_KEY="{{ openai_api_key }}"
        echo $OPENAI_API_KEY >> ~/oai.test
        docker compose up -d
      args:
        chdir: "/home/{{ ansible_user }}/apps/open-webui"