---
- hosts: all
  become: yes
  collections:
    - community.general

  tasks:
    - name: Add Tailscale repository for RHEL/CentOS
      ansible.builtin.copy:
        dest: /etc/yum.repos.d/tailscale.repo
        content: |
          [tailscale-stable]
          name=Tailscale stable
          baseurl=https://pkgs.tailscale.com/stable/rhel/9/$basearch
          enabled=1
          gpgcheck=1
          gpgkey=https://pkgs.tailscale.com/stable/rhel/9/repo.gpg
        owner: root
        group: root
        mode: '0644'

    - name: Install Tailscale
      ansible.builtin.dnf:
        name: tailscale
        state: latest
        update_cache: yes

    - name: Start Tailscale
      ansible.builtin.command: tailscale up --authkey={{ tailscale_auth_key }} --hostname={{ inventory_hostname }}
      changed_when: false

