services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "3145:8080"
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    volumes:
      - ./data:/app/backend/data
    restart: always
    deploy:
      placement:
        constraints:
          - node.labels.node_type == small