services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    environment:
      INITIAL_ADMIN_EMAIL: ${NPM_USER}
      INITIAL_ADMIN_PASSWORD: ${NPM_PASSWORD}