services:
  app:
    image: 'jc21/nginx-proxy-manager:2.12.6'
    restart: unless-stopped
    network_mode: host
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    environment:
      INITIAL_ADMIN_EMAIL: ${NPM_USER}
      INITIAL_ADMIN_PASSWORD: ${NPM_PASSWORD}